@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  --main-font:'Josefin Sans', sans-serif;
}

header{
  background-image: url('homepage.jpg');
  background-size: cover;
  background-position: center;   
  font-family: var(--main-font);    
}
div.tabs{
  display: flex;
  font-weight: lighter;
  color: white;
  background-color: rgb(18, 134, 9,.7);
}
a.tab{
  margin: 20px;
}
a.profile{
  margin-top: 18px;
  margin-right: 5px;
  margin-left: 10px;
}
img.profile{
  margin-top: 18px;
  height: 15px;
}
img.logout{
  margin-top: 18px;
  height: 15px;
  margin-right: 20px;
  margin-left: 3px;
}
textarea.search{
  margin-top: 15px;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 61px;
  height: 20px;
  resize: none;
}

a{
  color: white;
  text-decoration: none;
}

#logo {
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

#links {
  display: flex;
  gap: 10px;
}

#search-bar {
  font-family: var(--main-font);
  margin-right: 10px;
  border-radius: 5px;
}

#Title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 134, 9,.7);
  padding: 20px;
  color: white;
  
}

#Title {
  align-self: center;
  font-size: larger;
  font-style: italic;
}

#description {
  align-self: center;
  text-align: center;
}

div.recommend {
  align-self: left;
  font-family: var(--main-font);
}

#recommend-text {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

div.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  font-family: var(--main-font);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #03882f;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 280px;
  color: white;
  align-items: center;
}

.cardimg{
  width: 90%;
  border-radius: 10px;
}

.card:hover{
  box-shadow: 21px 26px 22px -16px rgba(0,0,0,0.4);
  height: fit-content;
}
