@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    --main-font:'Josefin Sans', sans-serif;
    background-color: #f3f3f3;
}

header{
    background-color: #075526;
    font-family: var(--main-font);
}

a{
    color: white;
    text-decoration: none;
}
div.tabs{
    display: flex;
    font-weight: lighter;
    color: white;
}
a.tab{
    margin: 20px;
}
a.profile{
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 10px;
}
img.profile{
    margin-top: 20px;
    height: 15px;
}
img.logout{
    margin-top: 20px;
    height: 15px;
    margin-right: 20px;
}
textarea.search{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: auto;
    border-radius: 61px;
    height: 20px;
    resize: none;
}

/*div{ border: 1px solid red}*/

div.profile{
    width: 17px;
    height: 17px;
    margin: auto;
}

#Title-section {
    display: flex;
    background-color: #075526;
    padding-left: 0.5rem;
    color: white;
    position: relative;
    margin-left: 1rem;
}

#Title {
    font-size: larger;
    font-style: italic;
    font-family: var(--main-font);
}

div.main-container{
    margin: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.left-texts{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    font-family: var(--main-font);
    font-weight: bold;
}


div.left-side{
    width: 20rem;
    height: 9rem;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #aaaaaa;
    margin-right: 2rem;
    margin-top: 1.25rem;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    position: fixed;
}

div.right-side{
    flex: 1;
    margin-left: 25%;
}

hr{
    margin: 0;
}

div.totals-report{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding-left: 1rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    margin-right: 2rem;
    display: flex;
    font-family: var(--main-font);
}

div.nested-totals{
    margin: auto;
}

div.peakhrs-report{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding-left: 1rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    margin-right: 2rem;
    font-family: var(--main-font);
    text-align: center;
}

div.slot-border-report1{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding-left: 1rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    margin-right: 2rem;
}
div.slot-report1{
    display: flex;
    font-family: var(--main-font);
}

div.nested-slot-report1{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}

div.nested2-slot-report1{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}

div.slot-border-report2{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding-left: 1rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    margin-right: 2rem;
}
div.slot-report2{
    display: flex;
    font-family: var(--main-font);
}
div.nested-slot-report2{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}
div.nested2-slot-report2{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}

div.slot-title{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: larger;
    margin-top: 1rem;
}

div.income-report{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding-left: 1rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    margin-right: 2rem;
    font-family: var(--main-font);
}

div.nested-income-report{
    margin-right: 2rem;
    display: flex;
}

div.nested1-income-report{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}

div.nested2-income-report{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}

#monthly-income-link{
    color: black;
    font-size: 0.75rem;
    text-decoration: underline;
}

div.right-titles{
    font-weight: bold;
    font-family: var(--main-font);
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    font-size: x-large;
}

.peakhrs-report img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 20rem;
    width: 25rem;
}

.slot-report1 img{
    margin: 1rem;
    padding-right: 10rem;
    height: 6rem;
    width: 30%;
}

.slot-report2 img{
    margin: 1rem;
    height: 6rem;
    padding-right: 10rem;
    width: 30%;
}

.nested-income-report img{
    margin: 1rem;
    padding-right: 8rem;
    height: 15rem;
    width: 25rem;
}

p{
    line-height: 40%;
}

#left-links{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: var(--main-font);
}