<html>
    <head>
        <title>SPOTFINDER</title>
        <link rel="stylesheet" href="/css/aboutus.css">
    </head>
    <body>
        <div class="tabs">
            <a class="tab" onclick="location.href='/'">HOME</a>
            <a class="tab" onclick="location.href='/park'">PARK</a>
            <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
            <a class="tab" onclick="location.href='/about'">ABOUT US</a>
            <form action = "/search" method="POST" role="search" class = "search">
                <input type="search" name = "searchTerm" placeholder= "search" class="search"></input>
            </form>
            
            <img src="/img/profile.png" class="profile">
            <% if(!current_user){ %>
                <a class="profile" href="/LogInPage">Log In/Register</a>
            <% } else { %>
                <a class="profile" href="/LogInPage"><%=current_user.username %></a>
            <% } %>
            <img src="/img/logout.png" onclick="location.href='/logout'" class="logout"> 
        </div>
        <div class="banner">
            <div class="titlecontainer">
                <div class="title">
                    about us.
                </div>
                <div class="subtitle">
                    meet the developers
                </div>
                <div class="developers">
                    <hr>
                    Dela Cruz, Frances • Muriel, Gabriel • Verano, Carl
                </div>
            </div>
        </div>
        <div class="section-green">
            <div class="dev-desc">
                Welcome to our about us page! We are a passionate and driven team of 2nd Year
                Undergraduates pursuing Computer Science at De La Salle University - Manila.
                Our collective goal is to revolutionize the way people experience parking by
                making it easier and more accessible for everyone.
            </div>
            <br>
            <br>
            <div class="dev-desc">
                We are immensely grateful for the support and encouragement we have received
                along the way, from our mentors, professors, and peers who have believed in
                our vision. Thank you for joining us on this exciting journey as we strive to
                reshape the future of parking and transportation. 
            </div>
        </div>
        <div class="section-white">
            NPM PACKAGES USED:
            <ul class="npm-modules">
                <li>bcrypt</li>
                <li>connect-mongo</li> 
                <li>cookie</li>
                <li>parser</li>
                <li>dotenv</li>
                <li>ejs</li>
                <li>express</li>
                <li>express-ejs-layouts</li>
                <li>express-session</li>
                <li>jsonwebtoken</li>
                <li>method-override</li>
            </ul>
        </div>
    </body>
</html>