<!DOCTYPE html>
<html>
    <head>
        <title>SPOT FINDER</title>
        <link rel="stylesheet" href="/css/Customer Support.css">
    </head>

    <body>
        <header>

            <div class="tabs">
                <a class="tab" onclick="location.href='/index'"">HOME</a>
                <a class="tab" onclick="location.href='/park'">PARK</a>
                <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
                <form action = "/search" method="POST" role="search" class = "search">
                    <input type="search" name = "searchTerm" placeholder= "search" class="search"></input>
                </form>
                <img src="/img/profile.png" class="profile">
                <% if(!current_user){ %>
                    <a class="profile" href="/LogInPage">Log In/Register</a>
                <% } else { %>
                    <a class="profile" href="/Profile/<%=current_user.username %>"><%=current_user.username %></a>
                <% } %>
                <img src="/img/logout.png" onclick="location.href='/logout'" class="logout"> 
            </div>

            <div id="Title-section">
                Customer Support
            </div>

        </header>

        <div class="containercontent">
            <img src="/img/contact_pic.png" class="contactpic">
            <div class="customersupport">
                <form onsubmit="SendEmail(); reset(); return false;">
                    <div class="feelfree">
                        Feel free to contact us.
                    </div>
                    <input type="text" class="email" id="email" placeholder="EMAIL">
                    <input type="text" id="subject" class="subject" placeholder="SUBJECT">
                    <textarea type="text" id="message" class="message" placeholder="MESSAGE"></textarea>
                    <button type="submit" class="send" value="SEND">SEND</button>
                    <input type="button" class="cancel" value="CANCEL">
                </form> 
            </div>
        </div>
        <div class="aboutus">
            <div class="text-aboutus">about the developers.</div>
            <div class="body-aboutus">
                A group of 2nd Year Undergraduates taking Computer Science at De La Salle University - Manila who aims to make parking easier and more accessible.
            </div>
        </div>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            function SendEmail(){
                Email.send({
                    Host : "smtp.gmail.com",
                    Username : "spotdfindercustomerservices@gmail.com",
                    Password : "SpotFinder101",
                    To : 'spotdfindercustomerservices@gmail.com',
                    From : document.getElementById("email").value,
                    Subject : "New Contact From Enquiry",
                    Body : "And this is the body"
                    }).then(
                    message => alert(message)
                    );
            }
        </script>
    </body>
</html>
