<!DOCTYPE html>
<html>
    <head>
        <title>SPOT FINDER</title>
        <link rel="stylesheet" href="/css/Customer Support.css">
    </head>

    <body>
        <header>

            <div class="tabs">
                <a class="tab" onclick="location.href='/index'"">HOME</a>
                <a class="tab" onclick="location.href='/park'">PARK</a>
                <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
                <textarea class="search"></textarea>
                <img src="/img/profile.png" class="profile">
                <% if(!current_user){ %>
                    <a class="profile" href="/LogInPage">Log In/Register</a>
                <% } else { %>
                    <a class="profile" href="/Profile/<%=current_user.username %>"><%=current_user.username %></a>
                <% } %>
            </div>

            <div id="Title-section">
                Customer Support
            </div>

        </header>

        <div class="containercontent">
            <img src="/img/contact_pic.png" class="contactpic">
            <div class="customersupport">
                <div class="feelfree">
                    Feel free to contact us.
                </div>
                <input class="email" placeholder="EMAIL">
                <input class="subject" placeholder="SUBJECT">
                <textarea class="message" placeholder="MESSAGE"></textarea>
                <input type="button" class="send" value="SEND" onclick="location.href='Customer Support.html'">
                <input type="button" class="cancel" value="CANCEL" onclick="location.href='Customer Support.html'">
            </div>
        </div>
        <div class="aboutus">
            <div class="text-aboutus">about the developers.</div>
            <div class="body-aboutus">
                A group of 2nd Year Undergraduates taking Computer Science at De La Salle University - Manila who aims to make parking easier and more accessible.
            </div>
        </div>
    </body>
</html>
