<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/Host-Posting.css">
    </head>

    <header>

        <div id="tabs">

            <a class="home">HOME</a>
            <a class="park">PARK</a>
            <input type="text" id="search" placeholder="Search">
            <a class="profile">Juan Dela Cruz</a>

        </div>

    </header>

    <body>

        <div id="Title">

            <div id="Parking-Title">
                <%= data.name %>
            </div>

            <div id="Parking-Descriptiom">
                ABC city
            </div>
            
        </div>

        <div class="content">

            <div class="Park-profile">
                <img src="/img/HostPost1img.jpg" class="profilepic">
                <div id="specifications">
                    specifications
                </div>

                <button class="message">View Slots</button>

                <div class="bio">
                    Parking Rates
                </div>

                <button class="message">RESERVE</button>

            </div>

            <div class="spots">

                <div class="SpotDetails">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div id="Vehicles">
                    Supported Vehicles: Sedan, SUV, Motorcycles, Bicycles
                </div>

                <div id="Host">

                    Hosted by:
                    <div id="hostProfile">
                        Gabriel Muriel
                    </div>
                    <div id="Activity">
                        Active 3 hours ago
                    </div>
                    <div id="quickreply">
                        *Host typically responds within an hour
                    </div>

                </div>

                <hr color="black">
                <div class="Review-title">
                    30 People have parked here
                </div>

                <hr color="black">

                <div id="Reviews">

                    25 Recent reviews:
                    <div id="PerReview">
                        <div class="review">

                            <img src="/img/profilepic1.png" class="review-image">
                            <div>
                                <div class="review-name">Frances Dela Cruz</div>
                                <div class="review-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <div class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            </div>

                        </div>

                        <div class="review">

                            <img src="/img/profile.png" class="review-image">
                            <div>
                                <div class="review-name">Gabriel Muriel</div>
                                <div class="review-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <div class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            </div>

                        </div>

                        <div class="review">

                            <img src="/img/profile_image.jpg" class="review-image">
                            <div>
                                <div class="review-name">Carl Matthew Verano</div>
                                <div class="review-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <div class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            </div>
                            
                        </div>
                        <!--more Reviews here-->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
