<html>
    <head>
        <title>SPOTFINDER</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="tabs">
            <a class="tab" onclick="location.href='/index'">HOME</a>
            <a class="tab" onclick="location.href='/park'">PARK</a>
            <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
            <input type="text" class="search"></input>
            <img src="/img/profile.png" class="profile">
            <a class="profile" href="/LogInPage">Log In To Your Account</a>
            <a href="Log In Page.html"><img src="/img/logout.png" class="logout"></a>
        </div>
        <div class="banner">
            <img src="/img/carewitharch.png" class="imagebanner">
            <div class="titlecontainer">
                <div class="title">
                    <img src="/img/logo.png" class="logo">
                    POTFINDER
                </div>
                <div class="subtitle">
                    parking made easy.
                </div>
            </div>
        </div>
        <div class="section-green">
            <img src="/img/parksection.jpg" class="section-image-green">
            <div class="desccontainer">
                <div class="section-title-host">
                    PARK AT YOUR OWN CONVENIENCE!
                </div>
                <div class="green-text">
                    "Save time and hassle with our convenient and secure parking spaces available for you."
                </div>
                <div>
                    <button class="green" onclick="location.href='/park'">Browse our available spots now!</button>
                </div>
            </div>
        </div>
        <div class="section-white">
            <div class="desccontainer">
                <div class="section-title-park">
                    HOST YOUR PARKING SLOT!
                </div>
                <div class="white-text">
                    "Become a parking hero by sharing your available parking spot with others through our website and help ease the parking woes in your community."
                </div>
                <div>
                    <button class="white" onclick="location.href='/register'">Register to Host your parking slot now!</button>
                </div>
            </div>
            <img src="/img/hostsection.jpg" class="section-image-white">
        </div>
        <div class="section-green">
            <img src="/img/contactsection.jpg" class="section-image-green">
            <div class="desccontainer">
                <div class="section-title-park">
                    CONTACT US
                </div>
                <div class="green-text">
                    "Effortlessly reserve your parking spot with our user-friendly website and never stress about finding parking again-
                     Don't hesitate to reach out for assistance!"
                </div>
                <div>
                    <button class="green" onclick="location.href='/Customer-Support'">Contact us!</button>
                </div>
            </div>
        </div>
    </body>
</html>