<form action="/LogInPage" method="POST">
    <head>
        <link rel="stylesheet" href="/css/register-login.css">
    </head>

    <body>
        <!--Body-->
        <div class = main-container>

            <!--Left Side of Page-->
            <div class = left-side>
                <div class = parking-text> Parking. <br> Just for you. </div>
            </div>

            <!--Right Side of Page-->
            <div class = right-side>

                <!--Title Header-->
                <div class = login-title> SPOT FINDER </div>

                <!--Register Subheader-->
                <div class = login-text>
                    LOGIN
                </div>

                <!--Main Container For All Details-->
                <div class="login-detail-container">

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email">

                    <label for="password"><b>Password</b></label>
                    <input type="password" class = "asd" placeholder="Enter Password" name="password">
                    
                    <!--Login Button-->
                    <div class = Reg-button>
                        <input type="submit" value="LOGIN" class="btn">
                    </div>

                    <div class = existing-account>
                        Don't have an account? <a href ="register.html"><b>Register</b></a>
                    </div>
                </div>

            </div>
            
        </div>
        
    </body>
</form>

