<form action="/register" method="POST">
    <head>
        <link rel="stylesheet" href="/css/register-login.css">
    </head>

    <body>
        <!--Body-->
        <div class = main-container>

            <!--Left Side of Page-->
            <div class = left-side>
                <div class = parking-text> Parking. <br> Just for you. </div>
            </div>

            <!--Right Side of Page-->
            <div class = right-side>

                <!--Title Header-->
                <h1> SPOT FINDER </h1>

                <!--Register Subheader-->
                <div class = register-text>
                    REGISTER
                </div>

                <!--Main Container For All Details-->
                <div class="detail-container">

                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username">

                    <label for="email"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" name="lastname">

                    <label for="email"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name" name="firstname">

                    <label for="email"><b>Mobile Number</b></label>
                    <input type="text" placeholder="Enter Mobile Number" name="mobileNo">

                    <label for="email"><b>Bio</b></label>
                    <input type="text" placeholder="Enter Bio" name="bio">

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email">

                    <label for="password"><b>Password</b></label>
                    <input type="password" class = "asd" placeholder="Enter Password" name="password">

                    <!--Register Button-->
                    <div class = Reg-button>
                        <input type="submit" value="Register" class="btn">
                    </div>

                    <!--Existing Account-->
                    <div class = existing-account>
                        Already have an account? <input onclick="location.href='/LogInPage'" ><b>Login</b></a>
                    </div>
                    
                </div>

            </div>
            
        </div>
        
    </body>

</form>