<!DOCTYPE html>
<html>
    <head>
        <title>SPOT FINDER</title>
        <link rel="stylesheet" href="/css/ReportAnalytics.css">
    </head>

    <body>
        <header>

            <!--Header Area--> 
            <!-- FIXME: FIX TAB LINKS, ADD CONTACT TAB -->

            <div class="tabs">
                <a class="tab" onclick="location.href='/index'"">HOME</a>
                <a class="tab" onclick="location.href='/park'">PARK</a>
                <a class="tab" onclick="location.href='/Customer-Support'">CONTACT</a>
                <textarea class="search"></textarea>
                <img src="/img/profile.png" class="profile">
                <a class="profile" href="Profile.html">Juan Dela Cruz</a>
                <a href="Log In Page.html"><img src="/img/logout.png" class="logout"></a>
            </div>

            <!--Title Related-->
            <div id="Title-section">

                <div id="Title">
                    <h1>Report and Analytics</h1>
                </div>

            </div>

        </header>

        <!--Body Content-->
        <div class = "main-container">

            <!--LEFT SIDE-->
            <div class = "left-side">

                <div class = "left-texts"> <a id = "left-links" href="#Totals">Totals</a></div>

                <hr>

                <div class = "left-texts"> <a id = "left-links" href="#general-info"> General Information </a></div>

                <hr>

                <div class = "left-texts"> <a id = "left-links" href="#parking-slots">Your parking slots</a></div>

                <hr>

                <div class = "left-texts"> <a id = "left-links" href="#income">Income </a></div>
                
                <hr>
            </div>


            <!--RIGHT SIDE-->
            <div class = "right-side">

                <div class = "right-titles"> Totals </div>
                
                <!--Totals-->
                <div class = "totals-report" id = "Totals">
                    <dl>
                        <dt>Parking Slots Hosted:</dt>
                        <dt>Customers:</dt>
                        <dt>Reviews:</dt>
                    </dl>
                    <div class = "nested-totals">
                        <dt>15</dt>
                        <dt>15</dt>
                        <dt>15</dt>
                    </div>
                </div>

                <div class = "right-titles" id = "general-info">Overall Customer Peak Hours</div>

                <!--Overall Customer Peak Hours-->
                <!-- FIXME: ADD FAKE GRAPHS -->
                <div class = "peakhrs-report">
                    <img src="/img/peakhours.jpg">
                </div>


                
                <div class = "right-titles">Your parking slots</div>
                
                <!--Your parking slots-->
                <div class = "slot-border-report1" id = "parking-slots">

                    <div class = "slot-title">Juan Dela Cruz Parking Space</div>

                    <!--Host Parking 1-->
                    <div class = "slot-report1">
                    
                        <!--Category-->
                        <div class = "nested-slot-report1">
                            <dl>
                                <dt>Customers:</dt>
                                <dt>Reviews:</dt>
                                <dt>Average Monthly Income:</dt>
                            </dl>
                        </div>
                        
                        <!--Values-->
                        <div class = "nested2-slot-report1">
                            <dt>15</dt>
                            <dt>15</dt>
                            <dt>Php 12,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/parking-graph.png" class="parking-graph">
                    </div>
                </div>

                <br>

                <!--Host Parking 2-->
                <div class = "slot-border-report1" id = "parking-slots">

                    <div class = "slot-title">Juan Dela Cruz Parking Space</div>

                    <!--Host Parking 1-->
                    <div class = "slot-report1">
                    
                        <!--Category-->
                        <div class = "nested-slot-report1">
                            <dl>
                                <dt>Customers:</dt>
                                <dt>Reviews:</dt>
                                <dt>Average Monthly Income:</dt>
                            </dl>
                        </div>
                        
                        <!--Values-->
                        <div class = "nested2-slot-report1">
                            <dt>15</dt>
                            <dt>15</dt>
                            <dt>Php 12,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/parking-graph.png" class="parking-graph">
                    </div>
                </div>

                <div class = "slot-border-report1" id = "parking-slots">

                    <div class = "slot-title">Juan Dela Cruz Parking Space</div>

                    <!--Host Parking 1-->
                    <div class = "slot-report1">
                    
                        <!--Category-->
                        <div class = "nested-slot-report1">
                            <dl>
                                <dt>Customers:</dt>
                                <dt>Reviews:</dt>
                                <dt>Average Monthly Income:</dt>
                            </dl>
                        </div>
                        
                        <!--Values-->
                        <div class = "nested2-slot-report1">
                            <dt>15</dt>
                            <dt>15</dt>
                            <dt>Php 12,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/parking-graph.png" class="parking-graph">
                    </div>
                </div>

                <div class = "slot-border-report1" id = "parking-slots">

                    <div class = "slot-title">Juan Dela Cruz Parking Space</div>

                    <!--Host Parking 1-->
                    <div class = "slot-report1">
                    
                        <!--Category-->
                        <div class = "nested-slot-report1">
                            <dl>
                                <dt>Customers:</dt>
                                <dt>Reviews:</dt>
                                <dt>Average Monthly Income:</dt>
                            </dl>
                        </div>
                        
                        <!--Values-->
                        <div class = "nested2-slot-report1">
                            <dt>15</dt>
                            <dt>15</dt>
                            <dt>Php 12,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/parking-graph.png" class="parking-graph">
                    </div>
                </div>

                <div class = "slot-border-report1" id = "parking-slots">

                    <div class = "slot-title">Juan Dela Cruz Parking Space</div>

                    <!--Host Parking 1-->
                    <div class = "slot-report1">
                    
                        <!--Category-->
                        <div class = "nested-slot-report1">
                            <dl>
                                <dt>Customers:</dt>
                                <dt>Reviews:</dt>
                                <dt>Average Monthly Income:</dt>
                            </dl>
                        </div>
                        
                        <!--Values-->
                        <div class = "nested2-slot-report1">
                            <dt>15</dt>
                            <dt>15</dt>
                            <dt>Php 12,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/parking-graph.png" class="parking-graph">
                    </div>
                </div>

                <div class = "slot-border-report1" id = "parking-slots">

                    <div class = "slot-title">Juan Dela Cruz Parking Space</div>

                    <!--Host Parking 1-->
                    <div class = "slot-report1">
                    
                        <!--Category-->
                        <div class = "nested-slot-report1">
                            <dl>
                                <dt>Customers:</dt>
                                <dt>Reviews:</dt>
                                <dt>Average Monthly Income:</dt>
                            </dl>
                        </div>
                        
                        <!--Values-->
                        <div class = "nested2-slot-report1">
                            <dt>15</dt>
                            <dt>15</dt>
                            <dt>Php 12,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/parking-graph.png" class="parking-graph">
                    </div>
                </div>
                
                <!--Income-->
                <div class = "right-titles" id = "income">Income</div>
                <div class = "income-report">
                    
                    <!--Overall Income-->
                    <p><b>Overall Income: </b>Php 26, 500.98</p>
                    
                    <!--Total Monthly Income-->
                    <p><b>Total Monthly Income: </b>Php 26,500.98</p>
                
                    <a href="#" id = "monthly-income-link">SEE ALL MONTHLY INCOME HERE</a>
                    
                    <!--Income Data-->
                    <div class = "nested-income-report">

                        <div class = "nested1-income-report">
                            <dt>Host Parking 1</dt>
                            <dt>Host Parking 1</dt>
                            <dt>Host Parking 1</dt>
                            <dt>Host Parking 1</dt>
                            <dt>Host Parking 1</dt>
                            <dt>Host Parking 1</dt>
                        </div>

                        <div class = "nested2-income-report">
                            <dt>5,000</dt>
                            <dt>5,000</dt>
                            <dt>5,000</dt>
                            <dt>5,000</dt>
                            <dt>5,000</dt>
                            <dt>5,000</dt>
                        </div>

                        <!--Supposed Graph-->
                        <img src="/img/monthlyincome.jpg">
                    </div>

                </div>

            </div>
            
        </div>

    </body>
</html>
