<form action="/LogInPage" method="POST">
    <head>
        <link rel="stylesheet" href="/css/reserveslots.css">
    </head>
    <body>
        <header>

            <div class="tabs">
                <a class="tab" href="index.html">HOME</a>
                <a class="tab" href="park.html">PARK</a>
                <a class="tab" href="Customer Support.html">CONTACT</a>
                <textarea class="search"></textarea>
                <img src="profile.png" class="profile">
                <a class="profile" href="Profile.html"><%= current_user.username%></a>
                <img src="logout.png" class="logout">
            </div>

            <div id="Title-section">
                <%= data.name %>
            </div>

        </header>
        <div class="bodycontainer">
            <div class="details">
                <div class="legends">
                    <div class="rowlegend">
                        <div class="occupiedlegend"></div> Occupied
                    </div>
                    <div class="rowlegend">
                        <div class="availablelegend"></div> Available
                    </div>
                    <div class="rowlegend">
                        <div class="pathlegend"></div> Path/Road/Walkway
                    </div>
                </div>
                <div class="mapdetails">
                    STATUS: AVAILABLE <br>
                    NAME: A1 <br>
                    COST: Php 90.00 <br>
                    M.O.P.: Over the Counter <br> <br>
                    <!-- TODO: ADD DATE -->
                    START:
                    <select>
                        <option>9:00AM</option>
                        <option>10:00AM</option>
                        <option>11:00AM</option>
                        <option>12:00PM</option>
                        <option>1:00PM</option>
                        <option>2:00PM</option>
                        <option>3:00PM</option>
                        <option>4:00PM</option>
                        <option>5:00PM</option>
                        <option>6:00PM</option>
                        <option>7:00PM</option>
                        <option>8:00PM</option>
                        <option>9:00PM</option>
                        <option>10:00PM</option>
                        <option>11:00PM</option>
                    </select>
                    END: 
                    <select>
                        <option>9:00AM</option>
                        <option>10:00AM</option>
                        <option>11:00AM</option>
                        <option>12:00PM</option>
                        <option>1:00PM</option>
                        <option>2:00PM</option>
                        <option>3:00PM</option>
                        <option>4:00PM</option>
                        <option>5:00PM</option>
                        <option>6:00PM</option>
                        <option>7:00PM</option>
                        <option>8:00PM</option>
                        <option>9:00PM</option>
                        <option>10:00PM</option>
                        <option>11:00PM</option>
                    </select>
                </div>
                <input type="submit" class="reserve" value="Reserve" onclick="location.href='profile.html'"></input>
                <input type="submit" class="exit" value="Cancel" onclick="location.href='park.html'"></input>
            
            </div>

            <div class = slotChoices>
                <select id="cars" name="cars">
                    <% for(i = 0; i < data.total_capacity; i++){ %>
                        <% if(data.parking_capacity[0].available === 1) { %>
                            <option value="volvo">Slot <%=i+1%> </option>
                        <% } %>
                    <% } %>
                </select>
                <input type="submit">
            </div>

        </div>
    </body>
</form>