@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap');

/* div{
    border: 1px red solid;
} */
body {
    margin: 0;
    padding: 0;
    --main-font:'Josefin Sans', sans-serif;
    font-family: var(--main-font);
}

div.tabs{
    display: flex;
    font-weight: lighter;
    color: white;
    background-color: #075526;
    position: sticky;
    top: 0;
    width: 100%;
}
a.tab{
    margin: 20px;
}
a.profile{
    margin-top: 18px;
    margin-right: 5px;
    margin-left: 10px;
}
img.profile{
    margin-top: 18px;
    height: 15px;
}
img.logout{
    margin-top: 18px;
    height: 15px;
    margin-right: 20px;
    margin-left: 3px;
}
.search{
    margin-top: auto;
    margin-right: 10px;
    margin-left: auto;
    border-radius: 61px;
    height: 20px;
    resize: none;
}

a{
    color: white;
    text-decoration: none;
}

div.banner{
    display: flex;
    padding: 20px;
    height: auto;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.titlecontainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.developers{
    column-gap: 10px;
}

.title{
    display: flex;
    height: auto;
    align-items: center;
    font-family: var(--main-font);
    font-weight: bolder;
    font-size: 64px;
    margin-top: auto;
}
.subtitle{
    font-style: italic;
    font-weight: lighter;
    margin-bottom: auto;
    width: fit-content;
}

.section-green, .section-white{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #075526;
    padding: 20px;
    color: aliceblue;
}
.section-white{
    color:#075526;
    text-align: right;
}
.section-white{
    background-color: white;
}

.npm-modules{
    text-align: left;
    padding: 0;
}

.dev-desc{
    width: 50%;
    text-align: center;
}