@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    --main-font:'Josefin Sans', sans-serif;
    font-family: var(--main-font);
}


header{
    background-image: url('../img/customersupport.jpg');
    background-size: cover;
    background-position: center;   
    font-family: var(--main-font);    
}
div.tabs{
    display: flex;
    font-weight: lighter;
    color: white;
    background-color: rgb(18, 134, 9,.7);
}
a.tab{
    margin: 20px;
}
a.profile{
    margin-top: 18px;
    margin-right: 5px;
    margin-left: 10px;
}
img.profile{
    margin-top: 18px;
    height: 15px;
}
img.logout{
    margin-top: 18px;
    height: 15px;
    margin-right: 20px;
    margin-left: 3px;
}
.search{
    margin-top: auto;
    margin-right: 10px;
    margin-left: auto;
    border-radius: 61px;
    height: 20px;
    resize: none;
}

a{
    color: white;
    text-decoration: none;
}

#logo {
    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

#links {
    display: flex;
    gap: 10px;
}

#search-bar {
    font-family: var(--main-font);
    margin-right: 10px;
    border-radius: 5px;
}

#Title-section {
    background-color: rgb(18, 134, 9,.7);
    color: white;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    padding-top: 1rem;
    padding-left: 20px;
    padding-bottom: 5px;
    vertical-align: bottom;
}
div.bodycontainer{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: fit-content;
    column-gap: 20px;
}
div.mapdetails{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-color: #f5ffee;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    align-self: center;
    row-gap: 10px;
}

div.slotChoices{
    border-radius: 8px;
    background-color: #f5ffee;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: right;
}

.details{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    row-gap: 10px;
}

select{
    width: 100%;
    font-family: var(--main-font);
}
/* div.mapeditor{
    margin-left: auto;
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
div.maprow{
    display: flex;
    justify-content: center;
    column-gap: 3px;
    margin-top: 3px;
    margin-bottom: auto;
}
button.square{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: gray;
}
button.square:hover{
    background-color: green;
}
button.square:focus{
    background-color: green;
} */



.legends{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    row-gap: 10px;
}

.rowlegend{
    display: flex;
    height: fit-content;
    align-items: center;
}

.occupiedlegend, .availablelegend, .pathlegend{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.occupiedlegend{
    background-color: rgb(141, 54, 54);
}

.availablelegend{
    background-color: gray;
}

.pathlegend{
    background-color: wheat;
    border-color: 1px solid black;
}

input.reserve,
input.exit {
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.28);
    color: white;
    font-family: var(--main-font);
    border: none;
    background-color: #0C360C;
    padding: 5px;
    font-size: 24px;
}

input.reserve{
    margin-top: 10px;
}

input.exit{
    margin-top: 5px;
}

input.reserve:hover,
input.exit:hover {
    background-color: #04AA04;
}
